@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --font-instrument-serif: "Instrument Serif";
  --font-instrument-sans: "Instrument Sans";
}

.another-heading1 {
  font-family: var(--font-instrument-serif), serif;
  @apply font-normal tracking-[-0.03em];
}

.another-heading2 {
  font-family: var(--font-instrument-serif), serif;
  @apply font-normal text-[28px] tracking-[-0.03em];
}

.another-heading3 {
  font-family: var(--font-instrument-sans), sans-serif;
  @apply text-[24px] tracking-[-0.03em];
}

.another-heading4 {
  font-family: var(--font-instrument-sans), sans-serif;
  @apply font-normal text-[20px] tracking-[-0.03em];
}

.another-heading5 {
  font-family: var(--font-instrument-sans), sans-serif;
  @apply text-[16px] tracking-[-0.03em];
}

.another-heading6 {
  font-family: var(--font-instrument-sans), sans-serif;
  @apply font-normal text-[14px] tracking-[-0.03em];
}

.another-body {
  font-family: var(--font-instrument-sans), sans-serif;
  @apply font-normal text-[14px] tracking-[-0.03em];
}

.another-label {
  font-family: var(--font-instrument-sans), sans-serif;
  @apply font-normal text-[10px] tracking-[-0.03em];
}
